In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\akank\OneDrive\Desktop\MachineLearning\DecisionTreeClassifier.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
df = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [15]:
target = df.Survived

In [16]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [17]:
new_df=df.drop(['Survived'],axis='columns')

In [18]:
new_df.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le = LabelEncoder()

In [24]:
new_df.Sex = le.fit_transform(new_df['Sex'])

In [25]:
new_df.Sex

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [26]:
from sklearn import tree

In [53]:
model = tree.DecisionTreeClassifier(criterion='entropy')

In [54]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test , y_train,y_test = train_test_split(new_df,target,test_size=0.2)

In [38]:
model.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [33]:
df['Fare'].apply(np.floor)

NameError: name 'np' is not defined

In [34]:
import numpy as np

In [36]:
new_df['Fare'].apply(np.floor)

0       7.0
1      71.0
2       7.0
3      53.0
4       8.0
       ...
886    13.0
887    30.0
888    23.0
889    30.0
890     7.0
Name: Fare, Length: 891, dtype: float64

In [42]:
new_df.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [44]:
age_mean=new_df.Age.mean()

In [45]:
new_df.Age=new_df.Age.fillna(age_mean)

In [47]:
new_df.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [48]:
new_df.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [55]:
x_train,x_test , y_train,y_test = train_test_split(new_df,target,test_size=0.2)

In [56]:
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [57]:
model.score(x_test,y_test)

0.7486033519553073